name: Website
on:
  push:
    branches:
      # - gh-pages
      - main
  pull_request: []

jobs:
  # container:
  #   runs-on: ubuntu-latest
  #   if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main'}}
  #   steps:
    
  #     - name: Checkout Code
  #       uses: actions/checkout@v4

  #     - name: Login to GitHub Container Registry
  #       uses: docker/login-action@v2
  #       with:
  #         registry: ghcr.io
  #         username: ${{ github.repository_owner }}
  #         password: ${{ secrets.GITHUB_TOKEN }}

  #     - name: Build and Push Docker Image
  #       uses: docker/build-push-action@v3
  #       with:
  #         push: true # Will only build if this is not here
  #         tags: |
  #             ghcr.io/${{ github.repository }}:${{ github.sha }}
  #             ghcr.io/${{ github.repository }}:latest

  check:
    # needs: container
    runs-on: ubuntu-latest
    container: ghcr.io/${{github.repository}}:latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout github pages
        uses: actions/checkout@v4
      - name: Build site
        run: |
          make site

  build-website:
    # needs: container
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main'}}
    container: ghcr.io/${{github.repository}}:latest
    env:
      RSPM: "https://packagemanager.rstudio.com/cran/__linux__/focal/latest"
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    defaults:
      run:
        shell: bash

    steps:

      - name: Checkout github pages
        uses: actions/checkout@v4
        with:
          ref: gh-pages

      - name: Debug
        run: |
          ls -lah
      - name: Set up git
        run: |
          # setup git
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"

      - name: Merge main
        run: |
          git fetch origin
          git merge origin/main
  
      - name: Render the markdown and confirm that the site can be built
        run: make site

      - name: Commit and Push
        run: |
          rm -r _site
          git add -A .
          git commit --allow-empty -m "[Github Actions] render website (via ${{ github.sha }})"
          git push origin gh-pages

      - run: make lesson-check-all
        if: always()
